<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend//dash by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:35 GMT -->
<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="static/admin/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="static/admin/assets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <%-include('nav')-%>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/dash" class="brand-wrap">
                <img src="static/images/alogo.png" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item ">
                    <a class="menu-link" href="/dash"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item has-submenu active">
                    <a class="menu-link" href="page-products-list.html"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Categories</span>
                    </a>
                    <div class="submenu">

                        <a href="/categories">View</a>
                        <a href="/categoriesAdd">Add</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-products-list.html"> <i class="icon material-icons md-person"></i>
                        <span class="text">Users</span>
                    </a>
                    <div class="submenu">
                        <a href="/users_view">View</a>
                        <a href="/addusers">Add</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-products-list.html"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                    <div class="submenu">
                        <a href="/addproduct">Product Add</a>
                        <a href="/view_products">View Products</a>
                        
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/view_coupons"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Coupons</span>
                    </a>
                    <div class="submenu">
                        <a href="/add_coupons">Add coupons</a>
                        <a href="/view_coupons">View coupons</a>
                        
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/order_view_admin"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Orders</span>
                    </a>
                    <div class="submenu">
                        <a href="/order_view_admin">Order_management</a>
                        <!-- <a href="/view_coupons">View coupons</a> -->
                        
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/view_sales"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">sales Report</span>
                    </a>
                    <div class="submenu">
                        <a href="/view_sales">sales</a>
                        <!-- <a href="/view_coupons">View coupons</a> -->
                        
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/view_banner"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Banner</span>
                    </a>
                    <div class="submenu">
                        <a href="/add_banner">Add Banner</a>
                        <a href="/view_banner">View Banner</a>
                        
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/admin_logout"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Logout</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin_logout">Logout</a>
                       
                        
                    </div>
                </li>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
       
        <section class="content-main">
            <form action="/categoriesDataedit" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Add New Product</h2>
                        <div>
                            <a href="/categories" class="btn btn-light rounded font-sm mr-5 text-body hover-up" >View categories</a>
                            <button class="btn btn-md rounded font-sm hover-up" type="submit">Save</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Basic</h4>
                        </div>
                        <div class="card-body">
                            
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Category Name</label>
                                    <input type="text" placeholder="Type here" class="form-control" name="name" id="product_name" value="<%=data.cat_name%>">
                                    <input type="hidden" placeholder="Type here" class="form-control" name="id" id="product_name" value="<%=data._id%>">

                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Category Description</label>
                                    <textarea placeholder="Type here" class="form-control" name="description"  rows="4" ><%=data.cat_description%></textarea>
                                </div>
                            </form>
                        </div>
                    </div><!-- card end// -->
                    
                </div>
                <div class="col-lg-3">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Media</h4>
                        </div>
                        <div class="card-body">
                            <div class="input-upload">
                                <img style="height: 100px!important; width: 200px !important;" src="static/uploads/<%=data.cat_image%>" alt="">
                                <input class="form-control" name="image" type="file">
                            </div>
                        </div>
                    </div> <!-- card end// -->
                    
                </div>
            </div>
        </section> 

        
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="static/admin/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="static/admin/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="static/admin/assets/js/vendors/select2.min.js"></script>
    <script src="static/admin/assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="static/admin/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="static/admin/assets/js/vendors/chart.js"></script>
    <!-- Main Script -->
    <script src="static/admin/assets/js/main.js" type="text/javascript"></script>
    <script src="static/admin/assets/js/custom-chart.js" type="text/javascript"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend//dash by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:57 GMT -->
</html>