<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>zntra</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="/static/usr/assets/img/favicon.png">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="/static/usr/assets/css/all.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="/static/usr/assets/bootstrap/css/bootstrap.min.css">
	<!-- owl carousel -->
	<link rel="stylesheet" href="/static/usr/assets/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="/static/usr/assets/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="/static/usr/assets/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="/static/usr/assets/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="/static/usr/assets/css/main.css">
	<!-- responsive -->
	<link rel="stylesheet" href="/static/usr/assets/css/responsive.css">
	<script type="text/javascript">
		function preventBack() {
			window.history.forward(); 
		}
		  
		setTimeout("preventBack()", 0);
		  
		window.onunload = function () { null };
	</script>
</head>
<body>
	
	<!--PreLoader-->
    <%-include('nav')-%>

	<!-- search area -->
	<%-include('search_page')-%>
	<!-- end search arewa -->
	
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Fresh and Organic</p>
						<h1>Cart</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- cart -->
	<div class="cart-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-12">
					<div class="cart-table-wrap">
					
						<table class="cart-table">
							<thead class="cart-table-head">
							  <tr class="table-head-row">
								<th class="product-remove">Remove</th>
								<th class="product-image">Product Image</th>
								<th class="product-name">Name</th>
								<th class="product-price">Price</th>
								<th class="product-quantity">Quantity</th>
								<th class="product-total">Total</th>
							  </tr>
							</thead>
							<tbody>
							  <% let y = 0 %>
							  <% data.forEach(x => { %>
								<tr class="table-body-row">
								  <td class="product-remove">
									<a href="/delete_from_cart?id=<%=x.details._id%>"><i class="far fa-window-close"></i></a>
								  </td>
								  <td class="product-image">
									<img src="/static/uploads/<%=x.details.product_image[0]%>" alt="">
								  </td>
								  <td class="product-name">
									<%=x.details.product_name%>
								  </td>
								  <td class="product-price">
									<span id="price-<%=x.details._id%>"><%=x.details.product_price%></span>
								  </td>
								  <td class="product-quantity" style="display: flex; align-items: center; justify-content: center;">
									<button class="btn btn-white border border-secondary px-3 decrement-btn" id="decrement-<%=x.details._id%>" type="button" data-mdb-ripple-color="dark" style="margin-right: 5px;">
									  <i class="fas fa-minus"></i>
									</button>
									<input type="text" class="form-control text-center border border-secondary quantity-input" id="quantity-<%=x.details._id%>" name="quantity" value="<%=x.quantity%>" aria-label="Example text with button addon" aria-describedby="button-addon1" style="width: 40px; margin-right: 5px;">
									<button class="btn btn-white border border-secondary px-3 increment-btn" type="button" id="increment-<%=x.details._id%>" data-mdb-ripple-color="dark" style="margin-right: 5px;">
									  <i class="fas fa-plus"></i>
									</button>
								  </td>
								  <td class="product-total">
									<input type="text" class="text-center product-total-input" style="width: 40%;" id="total-<%=x.details._id%>" name="total" value="<%=x.details.product_price * x.quantity%>" aria-label="Example text with button addon" aria-describedby="button-addon1" style="width: 40px; margin-right: 5px;">
									<input type="hidden" class="limit_quantity" id="limits-<%=x.details._id%>" value="<%=x.details.product_quantity%>">
								  </td>
								</tr>
							  <% y++ } ) %>
							</tbody>
						  </table>
						
						  
						  
						  
						  
						  
						
						  
					</div>
				</div>

				<div class="col-lg-4">
					<div class="total-section">
					  <table class="total-table">
						<thead class="total-table-head">
						  <tr class="table-total-row">
							<th>Total</th>
							<th>Price</th>
						  </tr>
						</thead>
						<tbody>
							<tr class="total-data">
								<td><strong>Subtotal: </strong></td>
								<td><input type="text" class="subtotal-input" id="subtotal-input" readonly></td>
							  </tr>
							  
							  <tr class="full-total-data">
								<td><strong>Total: </strong></td>
								<td><input type="text" class="total-input" id="total-input" name="full_total" readonly></td>
							  </tr>
							  </tbody>
							  </table>
							  
							  <div class="cart-buttons">
								<a href="/loadcheckout?full_total=" id="checkout-btn" class="boxed-btn black">Check Out</a>
							  </div>
							  
							  <script>
								// Get the total input element
								var totalInput = document.getElementById("total-input");
							  
								// Get the checkout button element
								var checkoutBtn = document.getElementById("checkout-btn");
							  
								// Add an event listener to update the href when the "Check Out" button is clicked
								checkoutBtn.addEventListener("click", function() {
								  // Get the value from the total input field
								  var totalValue = totalInput.value;
							  
								  // Update the href attribute of the checkout button with the value from total-input
								  checkoutBtn.href = "/loadcheckout?full_total=" + encodeURIComponent(totalValue);
								});
							  </script>
							  
							 
							  <div class="coupon-section">
								<h3>Apply Coupon</h3>
								<div class="coupon-form-wrap">
								  <form action="#">
									<p><input type="text" placeholder="Coupon" id="coupon-input"></p>
									<input type="hidden" name="coupon_value" id="coupon_value" hidden readonly>
									<input type="hidden" name="limit_value" id="limit_value" hidden readonly>
								  </form>
								</div>
							  </div>
							  
							  <script>
								const subtotalInput = document.getElementById('subtotal-input');
								const totalInput = document.getElementById('total-input');
								const couponInput = document.getElementById('coupon_value');
							  
								couponInput.addEventListener('input', () => {
								  const subtotalValue = parseFloat(subtotalInput.value);
								  const couponValue = parseFloat(couponInput.value);
								  const newTotalValue = subtotalValue - couponValue;
							  
								  if (!isNaN(newTotalValue) && newTotalValue >= 0) {
									totalInput.value = newTotalValue.toFixed(2);
								  }
								});
							  </script>
							  
							    
							<p><a href=""><button id="apply-coupon-btn" class="boxed-btn" style="color: white; background-color: orangered; width: 30%; border-radius: 6px;">Apply</button> </a></p>
							</form>

							<script>
								const incrementBtnEls = Array.from(document.getElementsByClassName('increment-btn'));
								
								incrementBtnEls.forEach(el => el.addEventListener('click', (e) => {
									const id = e.currentTarget.id.split('-')[1];
									console.log(`Incr: ${id}`);
									const quantityInputEl = document.getElementById(`quantity-${id}`);
									const productPriceElement = document.getElementById(`price-${id}`);
									const productTotalInput = document.getElementById(`total-${id}`);
									let limits=document.getElementById(`limits-${id}`)
									console.log("limits",limits.value);
	///////////////////////////    
	if (quantityInputEl.value <Number(limits.value)) {
						
	                       
	
									quantityInputEl.value = Number(quantityInputEl.value) + 1;
								
									updateProductTotal(quantityInputEl.value, productPriceElement, productTotalInput);
									calculateSubtotal();
								
									quantityInputEl.dispatchEvent(new Event('change'));
	}
								}));
							
								const decrementBtnEls = Array.from(document.getElementsByClassName('decrement-btn'));
								decrementBtnEls.forEach(el => el.addEventListener('click', (e) => {
									const id = e.currentTarget.id.split('-')[1];
									console.log(`Incr: ${id}`);
									const quantityInputEl = document.getElementById(`quantity-${id}`);
									const productPriceElement = document.getElementById(`price-${id}`);
									const productTotalInput = document.getElementById(`total-${id}`);
	
									if(Number(quantityInputEl.value)=== 1) { return; }
	
									quantityInputEl.value = Number(quantityInputEl.value) - 1;
									updateProductTotal(quantityInputEl.value, productPriceElement, productTotalInput);
									calculateSubtotal();
									quantityInputEl.dispatchEvent(new Event('change'));
								}));
								// Get the cart element
								const cart = document.querySelector('.cart-table');
							  
								// Add event listeners to the increment and decrement buttons.0
								cart.addEventListener('click', (event) => {
									return;
								  const target = event.target;
							  
								  if (target.classList.contains('increment-btn') || target.classList.contains('decrement-btn')) {
									const productId = target.id.split('-')[1];
									const quantityInput = document.getElementById(`quantity-${productId}`);
									const productPriceElement = target.parentNode.previousElementSibling;
									const productTotalInput = target.parentNode.nextElementSibling.querySelector('.product-total-input');
									
							      
								
									let quantity = parseInt(quantityInput.value);
							  
									if (target.classList.contains('increment-btn')) {
										if (quantity<limits) {
											quantity++;
									  quantityInput.dispatchEvent(new Event('change'));
										}
									  
									} else {
									  if (quantity > 1) {
										quantity--;
										quantityInput.dispatchEvent(new Event('change'));
									  }
									}
							  
									quantityInput.value = quantity;
									updateProductTotal(quantity, productPriceElement, productTotalInput);
									calculateSubtotal();
								  }
								});
							  
								// Update the product total based on quantity and price
								function updateProductTotal(quantity, priceElement, totalInput) {
								  const price = parseFloat(priceElement.textContent);
								  const totalPrice = quantity * price;
								  totalInput.value = totalPrice.toFixed(2);
								}
							  
								// Calculate the subtotal and update the total table
								function calculateSubtotal() {
								  const productTotalInputs = document.querySelectorAll('.product-total-input');
								  let subtotal = 0;
							  
								  productTotalInputs.forEach((totalInput) => {
									subtotal += parseFloat(totalInput.value);
								  });
							  
								  const subtotalInput = document.getElementById('subtotal-input');
								  if(!subtotalInput) { return; }
								  subtotalInput.value = subtotal.toFixed(2);
								  calculateTotal(subtotal);
								}
							  
								// Calculate the total and update the total table
								function calculateTotal(subtotal) {
								  const totalInput = document.getElementById('total-input');
								  if(!totalInput) { return; }
								  const total = subtotal;
							  
								//   totalInput.value = total.toFixed(2);
								}
							  
								// Initial calculation
								calculateSubtotal();
	
	
								const updateCartItem = async (id, quantity, quantityInputEl) => {
									const data = {
										id,
										quantity,
									};
									const response = await fetch('/update-cart-item', {
										method: 'POST',
										headers: {
											'Content-Type': 'application/json',
										},
										body: JSON.stringify(data),
									});
	
									const resBody = await response.json();
									if(!resBody.isOk) {
										console.log('Error when updating quantity');
										return;
									}
	
									quantityInputEl.value = resBody.quantity;
									console.log('Cart updated');
								};
	
								const quantityInputEls = Array.from(document.getElementsByClassName('quantity-input'));
								console.log(quantityInputEls[0])
								quantityInputEls.forEach(el => el.addEventListener('change', (e) => {
									const id = e.currentTarget.id.split('-')[1];
									const quantity = e.currentTarget.value;
									updateCartItem(id, quantity, el);
								}));
	
								// Calculate the subtotal and update the total table
	function calculateSubtotal() {
	  const productTotalInputs = document.querySelectorAll('.product-total-input');
	  let subtotal = 0;
	
	  productTotalInputs.forEach((totalInput) => {
		subtotal += parseFloat(totalInput.value);
	  });
	
	  const subtotalInput = document.getElementById('subtotal-input');
	  if (!subtotalInput) { return; }
	  subtotalInput.value = subtotal.toFixed(2);
	  calculateTotal(subtotal);
	}
	
	// Calculate the total and update the total table
	function calculateTotal(subtotal) {
	  const totalInput = document.getElementById('total-input');
	  if (!totalInput) { return; }
	  const total = subtotal;
	
	  totalInput.value = total.toFixed(2);
	}
	
	// Calculate and display the initial subtotal and total
	window.addEventListener('DOMContentLoaded', () => {
	  calculateSubtotal();
	});
	
	
							  </script>
						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end cart -->


	<script>
		async function fetchCoupon(code) {
			const response = await fetch(`/coupons/${code}`);
			const resBody = await response.json();
			return resBody.coupon;
		}

		const couponCodeInput = document.getElementById('coupon-input');
		const couponAmountEl = document.getElementById('coupon_value');
		const couponMinimumEl = document.getElementById('limit_value');
		const applyCouponBtn = document.getElementById('apply-coupon-btn');
		applyCouponBtn.addEventListener('click', async (e) => {
			e.preventDefault();
			console.log('Coupon applied')
			const code = couponCodeInput.value;
			const coupon = await fetchCoupon(code);
			if(!coupon) {
				alert(`No coupon with code '${code}'`);
			}
			couponAmountEl.value = coupon.coupon_amount;
			couponMinimumEl.value = coupon.coupon_minimum;

			couponAmountEl.hidden = false;
			couponMinimumEl.hidden = false;

			const subtotalInput = document.getElementById('subtotal-input');
			const totalInput = document.getElementById('total-input');

			totalInput.value = 
				subtotalInput.value >= coupon.coupon_minimum 
				? Number(subtotalInput.value) - coupon.coupon_amount
				: totalInput.value
		})
	</script>
	

	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="/static/usr/assets/img/company-logos/1.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="/static/usr/assets/img/company-logos/2.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="/static/usr/assets/img/company-logos/3.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="/static/usr/assets/img/company-logos/4.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="/static/usr/assets/img/company-logos/5.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->

	<!-- footer -->
<!-- footer -->
<div class="footer-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="footer-box about-widget">
					<h2 class="widget-title">About us</h2>
					<p>That shamed them well enough. A knight mounted, helmetless, and rode to join the others. A pair of sellswords followed. Then more. The King’s Gate shuddered again. In a few moments the size of Tyrion’s command had doubled. He had them trapped. If I fight, they must do the same, or they are less than dwarfs</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-box get-in-touch">
					<h2 class="widget-title">Get in Touch</h2>
					<ul>
						<li>i am zntra</li>
						<li>zntra.com</li>
						<li>7306218158</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-box pages">
					<h2 class="widget-title">Pages</h2>
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Shop</a></li>
						<li><a href="#">News</a></li>
						<li><a href="https://instagram.com/zntra_5453?utm_source=qr&igshid=MzNlNGNkZWQ4Mg%3D%3D">Contact</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-box subscribe">
					<h2 class="widget-title">Subscribe</h2>
					<p>Subscribe to our mailing list to get the latest updates.</p>
					<form action="#">
						<input type="email" placeholder="Email">
						<button type="submit"><i class="fas fa-paper-plane"></i></button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end footer -->

<!-- copyright -->
<div class="copyright">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12">
				<p>since &copy; 2001 - <a href="https://instagram.com/zntra_5453?utm_source=qr&igshid=MzNlNGNkZWQ4Mg%3D%3D">zntra</a>,  All Rights Reserved.<br>
					Distributed By - <a href="https://instagram.com/zntra_5453?utm_source=qr&igshid=MzNlNGNkZWQ4Mg%3D%3D">Themewagon</a>
				</p>
			</div>
			<div class="col-lg-6 text-right col-md-12">
				<div class="social-icons">
					<ul>
						<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
						<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
						<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
						<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
	<!-- end copyright -->
	
	<!-- jquery -->
	<script src="/static/usr/assets/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="/static/usr/assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="/static/usr/assets/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="/static/usr/assets/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="/static/usr/assets/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="/static/usr/assets/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="/static/usr/assets/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="/static/usr/assets/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="/static/usr/assets/js/sticker.js"></script>
	<!-- main js -->
	<script src="/static/usr/assets/js/main.js"></script>





</body>
</html>