<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>zntra</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="/static/usr/assets/img/favicon.png">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="/static/usr/assets/css/all.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="/static/usr/assets/bootstrap/css/bootstrap.min.css">
	<!-- owl carousel -->
	<link rel="stylesheet" href="/static/usr/assets/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="/static/usr/assets/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="/static/usr/assets/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="/static/usr/assets/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="/static/usr/assets/css/main.css">
	<!-- responsive -->
	<link rel="stylesheet" href="/static/usr/assets/css/responsive.css">
	<script type="text/javascript">
		function preventBack() {
			window.history.forward(); 
		}
		  
		setTimeout("preventBack()", 0);
		  
		window.onunload = function () { null };
	</script>

	<!-- Add the Magnific Popup CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">

<!-- Add the jQuery library (required by Magnific Popup) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- Add the Magnific Popup JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>


</head>
<body>
	
<%-include('nav')-%>
	<!-- end header -->
	
	<!-- search area -->
	<%-include('search_page')-%>
	<!-- end search area -->

	<!-- home page slider -->
	<div class="homepage-slider">
		<!-- single home slider -->
		<div class="single-homepage-slider homepage-bg-1">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-lg-7 offset-lg-1 offset-xl-0">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">Lost & Found</p>
								<h1>Found who is right to touch your shoulder</h1>
								<div class="hero-btns">
									<a href="#" class="boxed-btn">Bag Collection</a>
									<a href="#" class="bordered-btn">Contact Us</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- single home slider -->
		<div class="single-homepage-slider homepage-bg-2">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 offset-lg-1 text-center">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">The Big Brand</p>
								<h1>100% Trending Collection</h1>
								<div class="hero-btns">
									<a href="#" class="boxed-btn">Visit Shop</a>
									<a href="#" class="bordered-btn">Contact Us</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- single home slider -->
		<div class="single-homepage-slider homepage-bg-3">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 offset-lg-1 text-right">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">Mega Sale Going On!</p>
								<h1>Get December Discount</h1>
								<div class="hero-btns">
									<a href="#" class="boxed-btn">Visit Shop</a>
									<a href="https://instagram.com/zntra_5453?utm_source=qr&igshid=MzNlNGNkZWQ4Mg%3D%3D" class="bordered-btn">Contact Us</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end home page slider -->

	<!-- features list section -->
	<div class="list-section pt-80 pb-80">
		<div class="container">

			<div class="row">
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-shipping-fast"></i>
						</div>
						<div class="content">
							<h3>Free Shipping</h3>
							<p>When order over $75</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-phone-volume"></i>
						</div>
						<div class="content">
							<h3>24/7 Support</h3>
							<p>Get support all day</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="list-box d-flex justify-content-start align-items-center">
						<div class="list-icon">
							<i class="fas fa-sync"></i>
						</div>
						<div class="content">
							<h3>Refund</h3>
							<p>Get refund within 3 days!</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- end features list section -->

	<!-- product section -->
	<div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">Our</span> Category</h3>
						<p>Make it colorfull.Keep it carefull.Try it ,helpfull </p>
					</div>
				</div>
			</div>

			<div class="row">
            <% dataCat.forEach(x=>{
               if(x.cat_verify==true){%>
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="/viewitems?id=<%=x._id%>"><img src="/static/uploads/<%=x.cat_image%>" alt=""></a>
						</div>
						<h3><%=x.cat_name%></h3>
						<p class="product-price"><span><%=x.cat_description%></span></p>
						<a href="/viewitems?id=<%=x._id%>" class="cart-btn"><i class="fas fa-shopping-cart"></i>VIEW</a>
					</div>
				</div>
            <%}})%>  
				</div>
			</div>
		</div>
	</div>
	<!-- end product section -->

	

	<!-- testimonail-section -->
	
	<!-- end testimonail-section -->
	
	<!-- advertisement section -->
	<div class="abt-section mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<div class="abt-bg" style=" background-image: url(/static/usr/assets/img/yup.png) !important;
					height: 100% !important;
					width: 100% !important;
					background-size: cover !important;
					background-position: center !important;
					border-top-right-radius: 10px !important;
					border-bottom-left-radius: 10px !important;
					position: relative !important;
					z-index: 1 !important;
					overflow: hidden !important;">
					  <div id="youtube-video-popup">
						<a href="https://youtube.com/shorts/ejxE8Jwh8j4" class="video-play-btn popup-youtube" data-popup><i class="fas fa-play"></i></a>
					  </div>
					</div>
				  </div>
				  <script>
					$(document).ready(function() {
					  // Initialize Magnific Popup
					  $('#youtube-video-popup').magnificPopup({
						delegate: '[data-popup]',
						type: 'iframe'
					  });
					});
				  </script>
				  
				<div class="col-lg-6 col-md-12">
					<div class="abt-text">
						<p class="top-sub">Since  2001</p>
						<h2>A product of <span class="orange-text">ZNTRA</span></h2>
						<p>it is not just a begining ....From here i anounce that an era is forming .....the era of zntra...i know its HARD to belive....But days let you belive that it is TRUTH..</p>
						<p> “There has been a constant war, a war with fear. Those who have the courage to conquer it are made free and those who are conquered by it are made to suffer until they have the courage to defeat it.” – Alexander The Great</p>
						<a href="#" class="boxed-btn mt-4">know more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end advertisement section -->
	
	<!-- shop banner --><% ban.forEach(x=>{  if(x.in_use==true){%>
	<section class="shop-banner" style="
	 position: relative;
  background-color: #f5f5f5;
  background-image: url(/static/uploads/<%=x.banner_image%>);
  background-size: cover;
  padding: 110px 0px 115px;">
    	<div class="container">
        	<h3>December sale is on! <br> with big <span class="orange-text">Discount...</span></h3>
            <div class="sale-percent"><span>Sale! <br> Upto</span>50% <span>off</span></div>
            <a href="#" class="cart-btn btn-lg">Shop Now</a>
        </div>
    </section>
	<%}})%>
	<!-- end shop banner -->

	<!-- latest news -->
	<div class="latest-news pt-150 pb-150">
		<div class="container">

			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">Our</span> News</h3>
						<p>Our plan is to lead the public with new products rather than ask them what kind of products they want.</p>
					</div>
				</div>
			</div>

			   
			<div class="row product-lists">
				<% prd.forEach(x => {
					if (x.product_verified == true) { %>
						<div class="col-lg-4 col-md-6 text-center strawberry">
							<div class="single-product-item">
								<div class="product-image">
									<a href="/details?id=<%=x._id%>">
										<img src="/static/uploads/<%=x.product_image[0]%>" alt="">
									</a>
								</div>
								<h3><%=x.product_name%></h3>
								<p class="product-price">
									<span style="color: orangered;">Only <%=x.product_quantity%></span>₹ <%=x.product_price%>
								</p>
								
								<!-- <button class="btnn1"><i class="fas fa-shopping-cart"></i> Add to Cart</button> -->
								<a href="/details?id=<%=x._id%>">	<button class="btnn2"><i class="far fa-heart"></i>view detail</button></a>
							</div>
						</div>
						<script>
							const btnn1 = document.querySelector('.btnn1');
							const btnn2 = document.querySelector('.btnn2');
			  
							btnn1.addEventListener('mouseover', () => {
							  btnn1.style.transform = 'scale(1.1)';
							});
			  
							btnn1.addEventListener('mouseout', () => {
							  btnn1.style.transform = 'scale(1)';
							});
			  
							btnn2.addEventListener('mouseover', () => {
							  btnn2.style.transform = 'scale(1.1)';
							});
			  
							btnn2.addEventListener('mouseout', () => {
							  btnn2.style.transform = 'scale(1)';
							});
			  
							btnn1.addEventListener('click', () => {
							  // Add to cart functionality here
							});
			  
							btnn2.addEventListener('click', () => {
							  // Add to wishlist functionality here
							});
						</script>
				<% } }) %>
			  </div>
			<div class="row">
				<div class="col-lg-12 text-center">
					<a href="#" class="boxed-btn">More News</a>
				</div>
			</div>
		</div>
	</div>
	<!-- end latest news -->

	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="/static/usr/assets/img/company-logos/1.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="/static/usr/assets/img/company-logos/2.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="/static/usr/assets/img/company-logos/3.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="/static/usr/assets/img/company-logos/4.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="/static/usr/assets/img/company-logos/5.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->

	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">About us</h2>
						<p>That shamed them well enough. A knight mounted, helmetless, and rode to join the others. A pair of sellswords followed. Then more. The King’s Gate shuddered again. In a few moments the size of Tyrion’s command had doubled. He had them trapped. If I fight, they must do the same, or they are less than dwarfs</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li>i am zntra</li>
							<li>zntra.com</li>
							<li>7306218158</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul>
							<li><a href="#">Home</a></li>
							<li><a href="#">About</a></li>
							<li><a href="#">Shop</a></li>
							<li><a href="#">News</a></li>
							<li><a href="https://instagram.com/zntra_5453?utm_source=qr&igshid=MzNlNGNkZWQ4Mg%3D%3D">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Subscribe</h2>
						<p>Subscribe to our mailing list to get the latest updates.</p>
						<form action="#">
							<input type="email" placeholder="Email">
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->
	
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>since &copy; 2001 - <a href="https://instagram.com/zntra_5453?utm_source=qr&igshid=MzNlNGNkZWQ4Mg%3D%3D">zntra</a>,  All Rights Reserved.<br>
						Distributed By - <a href="https://instagram.com/zntra_5453?utm_source=qr&igshid=MzNlNGNkZWQ4Mg%3D%3D">Themewagon</a>
					</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->
	
	<!-- jquery -->
	<script src="/static/usr/assets/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="/static/usr/assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="/static/usr/assets/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="/static/usr/assets/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="/static/usr/assets/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="/static/usr/assets/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="/static/usr/assets/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="/static/usr/assets/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="/static/usr/assets/js/sticker.js"></script>
	<!-- main js -->
	<script src="/static/usr/assets/js/main.js"></script>

</body>
</html>